tenancy_ocid = ""
user_ocid = ""
rsa_private_key_path = ""
fingerprint = ""
region_identifier = ""
compute_shape = "VM.Standard.A1.Flex"
instance_source_details_boot_volume_size_in_gbs = "80"
memory_in_gbs = "12"
ocpus = "2"
image_id = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaaalepl4teucgdomo6jbzgskc4r6fhrz7tp5twfosnqp47lk5v6qoa"
ssh_public_key_path = ""
alert_rule_recipients = ""
ovpn_port = ""
ovpn_clients = "client1,client2"